.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/lib/templates
test/dummy/public/assets/*
test/dummy/app/views/shared/_nav*

/vendor/bundle

.DS_Store
.byebug_history
