<%% content_for :title do %>
<%= 'admin'.titleize %>
<%% end %>

<%% content_for :page_title do %>
<%= 'admin'.titleize %>
<%% end %>

<h1 class="uk-h3">BaseController#index</h1>
<p>Find me in <%= @path %></p>
