// 1. Your custom variables and variable overwrites.
$global-link-color: #DA7D02;
$navbar-nav-item-height: 50px;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

// 5. Custom classes
.tb-main {
  padding-left: $width-medium-width;

  top: $navbar-nav-item-height;
}

.tb-sidebar-left {
    position: fixed;
    top: $navbar-nav-item-height;
    bottom: 0;
    box-sizing: border-box;
    width: $width-medium-width !important;
    border-right: 1px #e5e5e5 solid;
    overflow: auto;
}
