<% content_for :title do %>
Comments
<% end %>

<% content_for :page_title do %>
Editing Comment
<% end %>

<% content_for :breadcrumb do -%>
  <ul class="uk-breadcrumb">
    
    <li>
      <%= link_to 'TOP', '/' %>
    </li>
    <li>
      <%= link_to 'Comments', admin_comments_path %>
    </li>
    <li>
      <%= link_to 'Comment', admin_comment_path(@comment) %>
    </li>
    
  </ul>
<% end %>

<%= render 'form', comment: @comment %>
